body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sequence-management, #keyframe-management {
    width: 80vw;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#sequence-list, #keyframe-list {
    margin-bottom: 10px;
}

#io-controls {
    margin-top: 20px;
}

#panorama {
    width: 80vw;
    height: 60vh;
    border: 1px solid black;
}

#controls {
    padding: 20px;
    width: 80vw;
}

#controls-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}